*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.x-box-cont{
	font-size: 30px;
	padding-left: 50px;
}
.x-box-cont h1{
	font-size: 30px;
	text-transform: uppercase;
}
.x-box-cont strong{
	display: block;
	margin-bottom: 15px;
}
